SECRET_KEY_BASE=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

BACKEND_PORT=
ADMINER_PORT=

IEBC_BASE_URL=

PHX_HOST=localhost
PHX_PORT=4001
PHX_SCHEME=http

GUARDIAN_SECRET_KEY=